<div id="overlay" (click)="generalService.showDialog = false"></div>
<div id="container">
  <div class="header">
    <button (click)="toggle = true">Create User</button>
    <button (click)="toggle = false">Create Company</button>
  </div>
  <form
    [formGroup]="userForms"
    (ngSubmit)="createUser()"
    class="form"
    *ngIf="toggle; else elseBlock"
  >
    <h1>Create User</h1>
    <div class="form__input">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email" />
      <small
        class="form__error"
        *ngIf="email.errors?.['required'] && (email.touched || email.dirty)"
        >Email is required</small
      >
      <small
        class="form__error"
        *ngIf="email.errors?.['email'] && (email.touched || email.dirty)"
      >
        Email is Invalid
      </small>
    </div>
    <div class="form__input">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
      <small
        class="form__error"
        *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
        >Password is required</small
      >
      <small
        class="form__error"
        *ngIf="password.errors?.['minlength'] && (password.touched || password.dirty)"
      >
        Password is Invalid
      </small>
    </div>
    <div class="form__input">
      <label for="first_name">First Name</label>
      <input
        type="text"
        name="first_name"
        id="first_name"
        formControlName="first_name"
      />
      <small
        class="form__error"
        *ngIf="firstName.errors?.['required'] && (firstName.touched || firstName.dirty)"
        >First name is required</small
      >
      <small
        class="form__error"
        *ngIf="firstName.errors?.['minlength'] && (firstName.touched || firstName.dirty)"
      >
        First name min length 2 simbols
      </small>
      <small
        class="form__error"
        *ngIf="firstName.errors?.['pattern'] && (firstName.touched || firstName.dirty)"
      >
        First name is not number
      </small>
    </div>
    <div class="form__input">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        formControlName="last_name"
      />
      <small
        class="form__error"
        *ngIf="lastName.errors?.['required'] && (lastName.touched || lastName.dirty)"
        >Last name is required</small
      >
      <small
        class="form__error"
        *ngIf="lastName.errors?.['minlength'] && (lastName.touched || lastName.dirty)"
      >
        Last name min length 2 simbols
      </small>
      <small
        class="form__error"
        *ngIf="lastName.errors?.['pattern'] && (lastName.touched || lastName.dirty)"
      >
        Last name is not number
      </small>
    </div>
    <div class="form__input">
      <label for="company">Company</label>
      <select name="company" id="company" formControlName="company">
        <option value="select">--Select--</option>
        <option value="erker">erker</option>
        <option value="devpro">devpro</option>
        <option value="prodoctorov">prodoctorov</option>
        <option value="rostelecom">rostelecom</option>
      </select>
      <small
        class="form__error"
        *ngIf="company.errors?.['required'] && (company.touched || company.dirty)"
        >Company is required</small
      >
    </div>
    <div class="form__input">
      <label for="tel">Tel</label>
      <input type="tel" name="tel" id="tel" formControlName="tel" />
      <small
        class="form__error"
        *ngIf="tel.errors?.['required'] && (tel.touched || tel.dirty)"
        >Tel is required</small
      >
      <small
        class="form__error"
        *ngIf="tel.errors?.['minlength'] && (tel.touched || tel.dirty)"
      >
        Tel min length 10 simbols
      </small>
      <small
        class="form__error"
        *ngIf="tel.errors?.['maxlength'] && (tel.touched || tel.dirty)"
      >
        Tel max length 10 simbols
      </small>
      <small
        class="form__error"
        *ngIf="tel.errors?.['pattern'] && (tel.touched || tel.dirty)"
      >
        Tel is not letters
      </small>
    </div>
    <div class="form__btn">
      <button
        type="submit"
        class="form__btn-create"
        [disabled]="userForms.invalid"
      >
        Add new User
      </button>
      <button
        class="form__btn-close"
        (click)="generalService.showDialog = false"
      >
        Close
      </button>
    </div>
  </form>
  <ng-template #elseBlock>
    <form [formGroup]="companyForms" (ngSubmit)="createCompany()" class="form">
      <h1>Create Company</h1>
      <div class="form__input">
        <label for="name_company">Name Company</label>
        <input
          type="text"
          name="name_company"
          id="name_company"
          formControlName="name_company"
        />
        <small
          class="form__error"
          *ngIf="Company.errors?.['required'] && (Company.touched || Company.dirty)"
          >Company is required</small
        >
        <small
          class="form__error"
          *ngIf="Company.errors?.['minlength'] && (Company.touched || Company.dirty)"
        >
          Company min length 2 simbols
        </small>
      </div>
      <div class="form__btn">
        <button type="submit" class="form__btn-create">Add new Company</button>
        <button
          class="form__btn-close"
          (click)="generalService.showDialog = false"
        >
          Close
        </button>
      </div>
    </form>
  </ng-template>
</div>
