<div class="app">
  <form [formGroup]="loginForms" (ngSubmit)="login()" class="form">
    <h3 *ngIf="errorMessage" class="form__error">{{ errorMessage }}</h3>
    <div class="form__input">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email" />
    </div>
    <div class="form__input">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
    </div>
    <div class="form__btn">
      <button class="form__btn-login">Login</button>
      <a routerLink="/register" class="form__btn-link"
        >Don't have an account yet?</a
      >
    </div>
  </form>
</div>
