<form class="company" [formGroup]="companyform">
  <div
    class="company__block"
    routerLink="/departament-dashboard/{{ company.id }}"
  >
    <span>{{ company.name_company }}</span>
    <span>{{ company.created | date }}</span>
  </div>
  <div class="company__edit" *ngIf="generalService.admin">
    <div *ngIf="editMode" class="edit">
      <label for="name__company">Department</label>
      <input
        type="text"
        name="name__company"
        id="name__company"
        formControlName="name__company"
        [value]="company.name_company"
      />
      <small
        class="error"
        *ngIf="name__company.errors?.['required'] && (name__company.touched || name__company.dirty)"
        >Last name is required</small
      >
      <small
        class="error"
        *ngIf="name__company.errors?.['minlength'] && (name__company.touched || name__company.dirty)"
      >
        Last name min length 2 simbols
      </small>
    </div>
    <img
      src="/assets/img/send.png"
      alt="send"
      width="20"
      height="20"
      (click)="sendEdit()"
      *ngIf="editMode"
    />
    <img
      src="/assets/img/cancel.png"
      alt="cancel"
      width="20"
      height="20"
      (click)="this.editMode = false"
      *ngIf="editMode"
    />
    <img
      src="/assets/img/edit.png"
      alt="edit"
      width="20"
      height="20"
      (click)="this.editMode = true"
      *ngIf="!editMode"
    />
    <img
      src="/assets/img/delete.png"
      alt="delete"
      width="20"
      height="20"
      (click)="delete(company.id)"
    />
  </div>
</form>
